
.box{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.row{
    width: 578px;
}
.card-header{
    text-align: center;
    font-size: larger;
    font-weight:bolder;
}
.form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background:white;
    padding: 10px;
    
  }
  .body-form{
   width: 700px;
   height: 400px;
  }
  .inp{
    margin: 10px 0 20px 0;
    display: inline-block;
}

.btnSign{
    display: inline-block;
}


 


